<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <div class="form-wrap">
            <div class="form">
                <h2>Forgot Password</h2>
                <form action="http://localhost:3000/api/auth/forgot-password" method="POST">
                    <p><input type="email" id="email" name="email" placeholder="Enter your Email" required></p>

                    <p><input type="submit" name="" value="Sent email reset"></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>