<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>docs</title>
</head>
<body>
    <div class="container">
        <div class="form-wrap">
            <div class="form">
                <img src="" alt="">
                <h2>Welcome to Epix Games</h2>
                <div class="loginButton">
                    <a href="http://localhost:3000/login">Sign In</a>
                </div>
                <div class="question">
                    <p>Does'nt have any account? <a href="http://localhost:3000/register">Create Account Here.</a></p>
                    <p>Forgot your password? <a href="http://localhost:3000/forgot-password">Reset password.</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>