<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <div class="form-wrap">
            <div class="form">
                <h2>Sign Up</h2>
                <form action="/api/auth/register" method="POST">
                    <p><input type="text" id="f_name" name="f_name" placeholder="First Name" required></p>
                    <p><input type="text" id="l_name" name="l_name" placeholder="Last Name" required></p>
                    <p><input type="text" id="nickname" name="nickname" placeholder="Nickname" required></p>
                    <p><input type="email" id="email" name="email" placeholder="Email" required></p>
                    <p><input type="password" id="password" name="password" placeholder="Password" required></p>
                    <p><input type="submit" name="" value="Sign Up!"></p>
                </form>
                <div class="question">
                    <p>Have account? <a href="http://localhost:3000/login">Sign In.</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>