<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div class="container">
        <div class="form-wrap">
            <div class="form">
                <h2>Reset Password</h2>
                <form action="http://localhost:3000/api/auth/reset-password/<%= user_id %>?token=<%= token %>" method="POST">
                    <!-- <input name="_method" type="hidden" value="PUT"> -->

                    <p><input type="text" id="new_password" name="new_password" placeholder="Type New Password"
                            required>
                    </p>
                    <p><input type="text" id="confirm_new_password" name="confirm_new_password"
                            placeholder="Confirm your password" required></p>

                    <p><input type="submit" name="" value="Reset"></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>